.content {
  width: 2000px;
}

/* Navbar styling */
.climatenet-title {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  background-color: #0047AB; /* Replace with your desired color */
  overflow: hidden;
}
